# String
### Author: Hiren Patel

String is a datatype available in the python. string can be sentence or word. you can also consider collection of letters as a string

In [1]:
## How can we create string?

In [2]:
a = 'Hiren Patel' ## we have to enclosed string with quoatation marks

In [3]:
b = "Hiren Patel" # we can also use double quote, It's also fine

In [5]:
type(a) ## checking the type of a variable

str

In [7]:
type(b)

str

In [8]:
## but hiren i want to use ' inside the string. for eg. where's my book? how can I do that?

In [9]:
book = "where's my book?" # we can enclosed it with double quotation

In [11]:
print(book)

where's my book?

In [12]:
## what if i want to use double quote inside the string?

In [13]:
s = 'Hello!! "Hiren Patel"' ## we can use single quotes and viseversa

In [14]:
## How we can iterate a string from memory?

In [17]:
a = 'Hello!! Hiren Patel' # this Hello!! Hiren Patel string stored somewhere inside a memory

In [20]:
a[0] ## indexing starts with 0. so on the first position we can get H

'H'

In [22]:
a[-1] ## python also supports reverse indexing. if we use =1 then it will be iterate last character of string

'l'

In [23]:
## I want to iterate full name. such as Hiren patel. how can I iterate?

In [25]:
a[8:18] ## we can use : to iterate full name

'Hiren Pate'

In [26]:
## hang on!! where is letter 'l' from the name Hiren Patel?

In [28]:
a[8:19] ## here 8 lower bound and 19 is upper bound

'Hiren Patel'

#### Note:  Keep in mind that python excludes the uper bound while iterating string

In [29]:
## now let's check stepside

In [32]:
a

'Hello!! Hiren Patel'

In [33]:
a[0:10:2] ##it will skip one character from the string

'Hlo!H'

In [37]:
a[0::3]## it will skip 2 characters. see if we dont specify upper bound then python will take full string itself

'Hl!inal'

In [39]:
## how to reverse a string

In [51]:
a

'Hello!! Hiren Patel'

In [54]:
a[-1:-20:-1]

'letaP neriH !!olleH'

In [38]:
a[::-1] ##easiest way to reverse string

'letaP neriH !!olleH'

In [55]:
## Great!! Extract the data using for loop

In [57]:
for i in a:
    print(i, end=='')

Hello!! Hiren Patel

In [58]:
## store it as a list

In [59]:
l = []
for i in a:
    l.append(i)

In [60]:
l

['H',
 'e',
 'l',
 'l',
 'o',
 '!',
 '!',
 ' ',
 'H',
 'i',
 'r',
 'e',
 'n',
 ' ',
 'P',
 'a',
 't',
 'e',
 'l']

In [61]:
## method 2

In [62]:
f = 'Convert this into a list'

In [65]:
list_f = list(f) ## we can use list method

In [67]:
f

'Convert this into a list'

In [68]:
list_f

['C',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 'n',
 't',
 'o',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't']

In [70]:
## Method 3. by using split method

In [71]:
a.split()

['Hello!!', 'Hiren', 'Patel']

In [75]:
## make a function that will reverse a string

In [91]:
def rev(x):
    return x[::-1]

rev_string = rev(input('Enter String '))
print(rev_string)

Enter String Reverse This String
gnirtS sihT esreveR

### manipulation in string

In [92]:
## string is mutable or immutable?

In [97]:
m = 'dbdf' ## change d as h

In [100]:
m[0] = 'H' ##uh oh!! string is immutable

TypeError: 'str' object does not support item assignment

In [101]:
m.replace('d','h')

'hbhf'

In [102]:
## Concate the string

In [104]:
m + ' Hiren'

'dbdf Hiren'

In [107]:
'hiren' + 3 ## we can't concate string with int

TypeError: can only concatenate str (not "int") to str

In [108]:
'Hiren '* 5

'Hiren Hiren Hiren Hiren Hiren '

## Methods In String

In [115]:
## to find particular index we can use find() and it will returns lowest index

In [109]:
m = 'Applying method to this string'

In [110]:
## Find method

In [111]:
m.find('method') ##return the lowest index

9

In [114]:
m.find('HJBHJU') ## this text isn't available inside a string

-1

In [116]:
## so, in a string there is 2 p 'applying'. it will returns index of the first one

In [117]:
m.find('p')

1

In [118]:
m

'Applying method to this string'

In [119]:
m.find('method')

9

In [122]:
## FInd index number of substring method

In [127]:
f = m.find('method') ## finds the index of first letter m
for i in range(len('method')): ##len gives us integer so we can increment by 1
    print(f + i)

9
10
11
12
13
14

## Count method

In [128]:
## count method returns number of occurence

In [129]:
o = 'my name is Hiren Patel and my friend name is Honey'

In [131]:
o.count('name') ##name is 2 times in o string

2

In [132]:
o.count('Patel')

1

In [134]:
o.count('patel') ## case sensitive

0

### Split method

In [139]:
s = 'my name is Hiren Patel and my friend name is Honey'

In [140]:
s.split() ##spliting a string as per delimeter we give

['my',
 'name',
 'is',
 'Hiren',
 'Patel',
 'and',
 'my',
 'friend',
 'name',
 'is',
 'Honey']

In [141]:
s.split('and')

['my name is Hiren Patel ', ' my friend name is Honey']

In [145]:
str_ch = input('Enter string to make a chunk: ')

def chunk(string):
    chunked = string.split()
    print(chunked)
chunk(str_ch)

Enter string to make a chunk: hello!! chunk this string into a list
['hello!!', 'chunk', 'this', 'string', 'into', 'a', 'list']

### Upper, Lower, swapcase methods

In [146]:
upper = 'make this string into capital letters'

In [147]:
upper.upper()

'MAKE THIS STRING INTO CAPITAL LETTERS'

In [148]:
lower = 'LOWER ALL THE WORDS'

In [149]:
lower.lower()

'lower all the words'

In [150]:
swap = 'hELLO!! tHIS iS uNUSUAL lETTERS, mAKE iT uNDERSTANDABLE'

In [151]:
swap.swapcase()

'Hello!! This Is Unusual Letters, Make It Understandable'

In [5]:
l_name = input('Enter your name: ')
def up_case(name):
    print(name.upper())
    print(name.lower())
    print(name.swapcase())
up_case(l_name)

Enter your name: hIren paTel
HIREN PATEL
hiren patel
HiREN PAtEL

### Join method

### The join() method takes all items in an iterable and joins them into one string. A string must be specified as the separator.
#### Syntax:
#### string.join(iterable)
#### string = string that we want to add in between character
#### .join is a method
#### iterable = where to perform join

In [11]:
sen = 'Hiren learn python '

In [13]:
" ".join(sen)

'H i r e n   l e a r n   p y t h o n  '

In [ ]:
password = (input('Enter Your Password: '))
def enc(password):
    print('Your Password is',password)
    enc = "/*^/@".join(password)
    print('Your Encrypted Password is: ',enc)
enc(password)

In [1]:
d = { 'name':'Hiren Patel','add':'Gujarat','occupation':'student','hobby':'learning'}

In [3]:
"TEST".join(d) ##only returns keys

'nameTESTaddTESToccupationTESThobby'

In [4]:
d

{'name': 'Hiren Patel',
 'add': 'Gujarat',
 'occupation': 'student',
 'hobby': 'learning'}

### Reversed method

In [5]:
rev = 'Reverse this string'

In [6]:
## we already know that how we can reverse string

In [7]:
rev[::-1]

'gnirts siht esreveR'

In [13]:
for i in reversed(rev):
    print(i,end='')

gnirts siht esreveR

In [14]:
list(reversed(rev))

['g',
 'n',
 'i',
 'r',
 't',
 's',
 ' ',
 's',
 'i',
 'h',
 't',
 ' ',
 'e',
 's',
 'r',
 'e',
 'v',
 'e',
 'R']

### Strip method

In [15]:
## Strip will remove the space from the begining and ending.

In [16]:
space = '       HIren Patel          ' ## there is space in the begining and ending of the string

In [18]:
space.strip() ##spaces removed by dtrip method

'HIren Patel'

In [23]:
bet_space = '   Hiren       pat  el    '

In [25]:
bet_space.strip() ##it will not remove in between spaces

'Hiren       pat  el'

In [30]:
## what if we only want to remove left side of space and right side of space

In [31]:
l_space = '      Hiren Patel     '

In [32]:
l_space.lstrip()

'Hiren Patel     '

In [33]:
l_space.rstrip()

'      Hiren Patel'

In [36]:
wrong_str = '@#$%....ssssHiren Patel...@#$#'

In [38]:
wrong_str.strip('@#$%.s')

'Hiren Patel'

### Replace method

In [39]:
rep = 'Hiren Patel' ## replace Hiren with Honey

In [40]:
rep.replace('Hiren','Honey')

'Honey Patel'

In [42]:
rep ##old string remain same just because replace operation happen at different location

'Hiren Patel'

In [43]:
rep = rep.replace('Hiren','Hny')

In [45]:
rep ##now this replacement take place

'Hny Patel'

### Center method

In [46]:
cen = 'Hiren'

In [47]:
cen.center(20,'@')

'@@@@@@@Hiren@@@@@@@@'

In [48]:
cen.center(20,'#')

'#######Hiren########'

In [ ]:
cen.center(20,"#@")

### Expand Tabs

In [50]:
exp = 'Hiren Patel \t Honey Patel'

In [51]:
exp.expandtabs()

'Hiren Patel      Honey Patel'

## Practice Section

In [52]:
test = "Everything Does Happen For Good"

In [53]:
## Normalize all string into the lower case

In [54]:
test.lower()

'everything does happen for good'

In [55]:
## find the number of occurencies of 'o' in string

In [57]:
test.count('o')

4

In [59]:
## find all of the index of 'o' in string

In [76]:
for i in range(len(test)):
    if test[i] == 'o':
        print(i)

12
24
28
29

In [68]:
## replace all 'o' with 'replace'

In [69]:
test.replace('o','replace')

'Everything Dreplacees Happen Freplacer Greplacereplaced'

In [70]:
## print all the words as a list

In [75]:
test.split()

['Everything', 'Does', 'Happen', 'For', 'Good']

### Checking Methods

In [107]:
n = 'Hiren@'

In [93]:
n.isalnum() ## if characters are alpa numeric then only returns True. if it cintains special chars then it will return false

False

In [94]:
n.isalpha()

False

In [95]:
n.isascii()

True

In [96]:
n.isdecimal()

False

In [97]:
n.isdigit()

False

In [98]:
n.isidentifier()

False

In [99]:
n.islower()

True

In [100]:
n.isnumeric()

False

In [101]:
n.isprintable()

True

In [102]:
n.isspace()

False

In [109]:
n.istitle() ## return true if first character is in upper case

True

In [104]:
n.isupper()

False

In [105]:
n.endswith('a')

False

In [106]:
n.startswith('h')

True

## Practice Section

In [126]:
## find length of string without using len function

In [127]:
s = 'Hiren Patel'

In [128]:
len(s)

11

In [130]:
c = 0
for i in s:
    c = c+1
print(c)

11

In [131]:
## reverse a string without using any method

In [140]:
for i in range(len(s)):
    print(s[-i-1])

l
e
t
a
P

n
e
r
i
H

In [141]:
## identify vowels from a string

In [11]:
sen = input('Enter your sentence ')
vowels = 'AaEeIiOoUu'

for i in sen:
    if i in vowels:
        print('{} is vowel'.format(i))
    else:
        print('{} is not vowel'.format(i))

Enter your sentence Hiren
H is not vowel
i is vowel
r is not vowel
e is vowel
n is not vowel

## Format method

In [1]:
a = input('Enter your first name ')
b = input('Enter your last name ')

print('Your full name is {} {}'.format(a,b))

Enter your first name Hiren
Enter your last name Patel
Your full name is Hiren Patel

## Palindrom

In [11]:
pal = input('input your string to check it is palindrom or not')
pal = pal.lower()
p1 = pal[::-1]
def pali(pal):
    if pal == p1:
        print('Your string is palindrom')
    else:
        print("it's not same!!Try next string")
pali(pal)

input your string to check it is palindrom or notHiren
it's not same!!Try next string

# Key take away from string

1. String is immutable
2. string has a various methods such as count, strip, reversed, replace, find, upper, lower, format,  expandtabs