In [1]:
a = 10 ## AND 
b = 20

## FF = F
## TT = T
## TF = F
## FT = F

if a == 10 and b == 20:
    print('Valid Statement')
elif a == 10 and b <= 20:
    print('Check this is valid or not')
else:
    print('Not Valid Statement')

Valid Statement

In [2]:
## 

a = input('Enter Your First Name')
b = input('Enter your last name')

if a == 'Patel' and b == 'Hiren':
    print('Congratulation your name is {} {}'.format(a,b))
else:
    print('check your name')

Enter Your First NamePatel
Enter your last nameHiren
Congratulation your name is Patel Hiren

## While Statement

#### While is a loop

In [12]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print(count, ' This is speed')
    count = count + 1
    if count == 5:
        break ##break this loop

1  This is speed
2  This is speed
3  This is speed
4  This is speed

In [1]:
name = 'Hiren Patel'

In [2]:
##fetch ren only

In [3]:
name[2:5]

'ren'

In [4]:
## fetch Hiren only

In [5]:
name[0:5]

'Hiren'

In [6]:
n = 'My Nickname is Honey Patel'

In [10]:
for i in n:
    print(i)

M
y

N
i
c
k
n
a
m
e

i
s

H
o
n
e
y

P
a
t
e
l

In [11]:
##patterns *

In [98]:
## suppose if we want to print below pettern
 ####
 ####
 ####
 ####
## then how can we print this?

In [103]:
print('####', end = ' ')
print('\r')
print('####', end = ' ')
print('\r')
print('####', end = ' ')
print('\r')
print('####', end = ' ')
print('\r')

####
####
####
####

In [104]:
## obviously we will get a output but don't you think this code is repetetive? 
## let's try another way

In [117]:
for i in range(4):
    print('#', end=' ')
print(' ')
for i in range(4):
    print('#', end=' ')
print(' ')
for i in range(4):
    print('#', end=' ')
print(' ')
for i in range(4):
    print('#', end=' ')

# # # #
# # # #
# # # #
# # # #

In [119]:
## wow bravo!! we used for loop to get output!!! but it is still not efficient
## this is also repetiteve

In [121]:
for j in range(4):
    for i in range(4):
        print('#', end=' ')
    print(' ')

# # # #
# # # #
# # # #
# # # #

In [122]:
## very good!! now code looks  small and clear

In [129]:
'''Now print this
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 

'''
## take input from user

n = int(input('Enter the number of rows'))
for i in range(1,n+1):  ## i = 1 [1,6]
    for j in range(1,i+1): ## j= 1 [1,2]
        print('*', end=' ')
    print('\r')

Enter the number of rows7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [29]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [30]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1): ## -1 means direction is negative
    for j in range(n-i): ## 7-7 = 0
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [33]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print(i, end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 7
1 1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3
4 4 4 4
5 5 5
6 6
7

In [42]:
for i in range(7,0,-1):
    print(i, end= ' ')

7 6 5 4 3 2 1

In [39]:
for i in range(4,8,1):
    print(i)

4
5
6
7

In [40]:
for i in range(8,4,-1):
    print(i)

8
7
6
5

In [43]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [44]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [46]:
l = list() ##there is no datatype called as array in to a core python

In [47]:
name = 'Hiren Patel'
no = 74055000
add = 'Surat'

In [48]:
name, no, add = 'Hiren', 74055555, 'Surat'

In [49]:
name

'Hiren'

In [50]:
## we don't want to define this much variables

In [63]:
## creating a list
l = ['Hiren Patel',71405544,'Surat']

In [62]:
## reverse list
l[::-1]

['Surat', 71405544, 'Hiren Patel']

In [65]:
## fetching elements from list
l[0:2]

['Hiren Patel', 71405544]

In [68]:
## changing elements from list
l[0] = 'Honey Patel'

In [69]:
l

['Honey Patel', 71405544, 'Surat']

In [70]:
## print datatypes of all elements

In [77]:
l.insert(3,[1,2,3,4,5,'abc'])

In [78]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'list'>

In [79]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [81]:
l[8:3:1] ##stepside flow is wrong

[]

In [82]:
l[8:3:-1]

[[1, 2, 3, 4, 5]]

In [83]:
l[8:3:-1]

[[1, 2, 3, 4, 5]]

In [90]:
k = [1,2,4,5,7,['a','b',4,5]]
k[8:4:-1]

[['a', 'b', 4, 5]]